# qrouter runtime script for project vega_top

verbose 1
read_lef  /apps/vlsi/share/qflow/tech/osu035/osu035_stdcells.lef
catch {layers 4}
via stack all
vdd vdd
gnd gnd
obstruction -6.4 1462.0 2006.4 1466.0 metal1
obstruction -6.4 -6.0 2006.4 0.2 metal1
obstruction -6.4 -6.0 0.0 1466.0 metal1
obstruction 2001.6 -6.0 2006.4 1466.0 metal1
obstruction 0.0 1462.0 2001.6 1466.0 metal3
obstruction 0.0 -6.0 2001.6 0.2 metal3
obstruction -6.4 0.2 0.0 1462.0 metal2
obstruction 2001.6 0.2 2006.4 1462.0 metal2
obstruction -6.4 0.2 0.0 1462.0 metal4
obstruction 2001.6 0.2 2006.4 1462.0 metal4
read_def vega_top.def
qrouter::standard_route vega_top_route.def false
quit
